body {
	font-family: 'Open Sans', sans-serif;
	width: 960px;
	margin: 0px auto;
}

#pageviews {
	display: flex;
}

#scores {
	width: 25%;
	height: 400px;
	flex: 1;
	display: flex;
	flex-direction: column;
	/*justify-content: center;*/
	/*align-items: flex-start;*/	
}

.scorecard {
	width: 100%;
	height: 33.33%;
	background-color: #e8e8e8;
	margin-bottom: 15px;
}

.scorecard p {
	margin: 7px;
}

.scoreTitle {
	font-size: 28px;
	color: #666666;
}

.totalScore {
	text-align: center;
	margin: 7px;
	margin-top: 10px;
	font-size: 32px;
	font-weight: 800;
}

#pageviewsTable {
	width: 75%;
	/*height: 100%;*/
	flex: 3;
	background-color: #e8e8e8;
	margin: 0px 0px 15px 15px;
}

#tableTitle {
	font-size: 28px;
	color: #666666;
	margin: 7px;
}

table {
	margin-left: 7px;
	border-collapse: collapse;
}

tr {
	border-bottom: 0.5px solid #d2d2d2;
}

th {
	text-align: left;
	color: #666666;
}

td {
	font-size: 16px;
	font-weight: 300;
	padding-bottom: 7px;
	padding-right: 75px;
}